<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/templates/style.css">
</head>

<body>
<header class="header__layout">
    <div class="header-font">
        <a href="/">
            <img src="/templates/Carbon-fill.png" alt="Logo" class="header-logo">
            <h1>Carbon</h1>
        </a>
    </div>
    <button class="redirect-button" onclick="redirectToAddPostPage()">Add post</button>
</header>


<div class="content" id="posts">
    <div class="blog-post" data-post-id="{{.ID}}">
        <div class="menu">
            <button class="menu-button">⋮</button>
            <div class="menu-content">
                <a href="#" class="edit-post">Редактировать пост</a>
                <a href="#" class="delete-post">Удалить пост</a>
            </div>
        </div>
        <h2>{{.Title}}</h2>
        {{if .Image}}
        <div class="image-container">
            <img src="{{.Image}}" alt="" class="post-image">
        </div>
        {{end}}
        {{.Description | safeHTML}}
    </div>
</div>

<script>
    function redirectToHomePage(){
        window.location.href = '/';
    }
</script>
</body>
</html>
